<h2><%= @current_response.message %></h2>

<% @current_options.all.each do |option| %>
  <%= button_to option.message, game_response_path(1, option), method: 'get' %>
<% end %>
<% if @current_response.result == 'fail' %>
  <%= button_to 'Unlucky! Fancy another go?', game_index_url, method: 'get'%>
<% elsif @current_response.result == 'pass' %>
  <%= button_to 'Nicely done! Replay?', game_index_url, method: 'get'%>
<% end %>
